*.DS_Store
*.qgz
*.zip
*.shx
*.shp
*.dbf
*.prj
*.cpg
*.gpkg
*.gpkg-shm 
*.gpkg-wal
data/raw/DK_SHAPE_UTM32-EUREF89/CreateIndex.bat
data/raw/DK_SHAPE_UTM32-EUREF89/FOT2GIS.doc
data/raw/DK_SHAPE_UTM32-EUREF89/FOT4_shape_9.3.mxd
data/raw/DK_SHAPE_UTM32-EUREF89/FOT4_shape_10.mxd
data/raw/DK_SHAPE_UTM32-EUREF89/FOT5_shape_9.3.mxd
data/raw/DK_SHAPE_UTM32-EUREF89/FOT5_shape_10.mxd
data/raw/DK_SHAPE_UTM32-EUREF89/GEODANMARK.KMS
data/raw/DK_SHAPE_UTM32-EUREF89/index.py
data/raw/DK_SHAPE_UTM32-EUREF89/DIVERSE/Dokumentation til KORT10 Adressetema.pdf
data/raw/DK_SHAPE_UTM32-EUREF89/DIVERSE/information-kort10.pdf
data/raw/DK_SHAPE_UTM32-EUREF89/DIVERSE/kort10_fotkort10.pdf
data/raw/DK_SHAPE_UTM32-EUREF89/DIVERSE/Matrikelkort_Attributter_V2.pdf
data/raw/DK_SHAPE_UTM32-EUREF89/DIVERSE/Matrikelkort_Attributter_V2.xls
data/raw/DK_SHAPE_UTM32-EUREF89/DIVERSE/Matrikelkort_Featurekoder_V2.pdf
data/raw/DK_SHAPE_UTM32-EUREF89/DIVERSE/Matrikelkort_Featurekoder_V2.xls
data/raw/DK_SHAPE_UTM32-EUREF89/DIVERSE/Matrikelkort_Feltbeskrivelse_V2.pdf
data/DK_SHAPE_UTM32-EUREF89/DIVERSE/Matrikelkort_Feltbeskrivelse_V2.xls
data/DK_SHAPE_UTM32-EUREF89/DIVERSE/Matrikelkort_Skeltyper_V2.pdf
data/DK_SHAPE_UTM32-EUREF89/DIVERSE/Matrikelkort_Skeltyper_V2.xls
data/DK_SHAPE_UTM32-EUREF89/DIVERSE/Matrikulære data.pdf
data/DK_SHAPE_UTM32-EUREF89/DIVERSE/Valdemar_help.pdf
data/DK_SHAPE_UTM32-EUREF89/DIVERSE/FONTE/KMS51503.TTF
data/DK_SHAPE_UTM32-EUREF89/DIVERSE/FONTE/KMS080502.TTF
data/DK_SHAPE_UTM32-EUREF89/DIVERSE/FONTE/KMS250602.TTF
data/DK_SHAPE_UTM32-EUREF89/DIVERSE/FONTE/MATR.TTF
data/planet_11.489,55.575_12.465,55.915-shp/CHECKSUM.txt
data/planet_11.489,55.575_12.465,55.915-shp/logfile.txt
data/planet_11.489,55.575_12.465,55.915-shp/README.html
data/planet_11.489,55.575_12.465,55.915-shp/README.txt
*.egg-info
*.pbf
*.pyc
*.avl
*.graphml
*.pickle
data/cykeldata_kk/wfsrequest.txt
.gitignore
data/cykeldata_kk/cykeldata_kk.cst
data/raw/DK_SHAPE_UTM32-EUREF89/CreateIndex.bat
.gitignore
data/raw/DK_SHAPE_UTM32-EUREF89/DIVERSE/FONTE/KMS51503.TTF
data/raw/DK_SHAPE_UTM32-EUREF89/DIVERSE/FONTE/KMS080502.TTF
data/raw/DK_SHAPE_UTM32-EUREF89/DIVERSE/FONTE/KMS250602.TTF
data/raw/DK_SHAPE_UTM32-EUREF89/DIVERSE/FONTE/MATR.TTF
data/raw/planet_11.489,55.575_12.465,55.915-shp/README.txt
data/raw/DK_SHAPE_UTM32-EUREF89/DIVERSE/Matrikelkort_Feltbeskrivelse_V2.xls
data/raw/DK_SHAPE_UTM32-EUREF89/DIVERSE/Matrikelkort_Skeltyper_V2.pdf
data/raw/DK_SHAPE_UTM32-EUREF89/DIVERSE/Matrikelkort_Skeltyper_V2.xls
data/raw/DK_SHAPE_UTM32-EUREF89/DIVERSE/Matrikulære data.pdf
data/raw/DK_SHAPE_UTM32-EUREF89/DIVERSE/Valdemar_help.pdf
data/raw/planet_11.489,55.575_12.465,55.915-shp/CHECKSUM.txt
data/raw/planet_11.489,55.575_12.465,55.915-shp/logfile.txt
data/raw/planet_11.489,55.575_12.465,55.915-shp/README.html
data/osm
scripts/cache/2f0e087e1685fdf2232e112979ce586e9839c44d.json
scripts/cache/6689d97937ae036ae46575d0d2e38755fdf1f61f.json
scripts/cache/f46905c936f123285a2dbb551ef0771a37d2c6ca.json
scripts/cache/d1f0852f81d31fb8b126a823bae5494fe1b9131a.json
data/osm_pyrosm_graph
